doctype html
html
    head
        title= Picture
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #player.app-picture
        script(src="/javascripts/react.js")
        script(src="/javascripts/react-dom.js")
        script(src="/javascripts/alt.js")
        script(src="/javascripts/emes-editor.js")
        script(src='/pictures/#{picture}.js')
