body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

div#page {
  height: 75%;
}

.app-header {
  width: 100%;
  text-align: center;
  background-color: #6699cc;
  padding: 20px;
  margin: 0px;
}

.app-picture {
  width : 100%;
  height: 100%;
}